<h1>Create a new Secret Santa Gift List:</h1>

<%= form_for(@event) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :amount %>
  <%= f.number_field :amount %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
